body {
    font-family: "Inter", sans-serif;
    background-color: FFF8D4;
    color: #313647;
    overflow-x: hidden;
}

.main {
    min-height: 100vh;
    background: 
    linear-gradient(180deg, rgba(255,255,255,0.5), rgba(240,240,240,0.3)),
    repeating-linear-gradient(
        0deg,
        rgba(0,0,0,0.1) 0,
        rgba(0,0,0,0.08) 3px,
        transparent 0.5px,
        transparent 120px
    ),
    repeating-linear-gradient(
        90deg,
        rgba(0,0,0,0.1) 0,
        rgba(0,0,0,0.08) 3px,
        transparent 0.5px,
        transparent 120px
    );
    background-blend-mode: normal;
}
